[{:unit_price "2.25", :quantity "10", :name "BAR", :action "Purchase", :time "05042013-13:24:13.123"} {:unit_price "13.99", :quantity "25", :name "ZOO", :action "Search", :time "05042013-13:24:13.005"} {:unit_price "2.25", :quantity "10", :name "BAR", :action "Price", :time "05042013-13:24:12.750"} {:unit_price "15.00", :quantity "2", :name "FOO", :action "Price", :time "05042013-13:24:12.450"} {:unit_price "2.25", :quantity "10", :name "BAR", :action "Search", :time "05042013-13:24:12.130"} {:unit_price "15.00", :quantity "2", :name "FOO", :action "Search", :time "05042013-13:24:12.010"} {:unit_price "15.00", :quantity "5", :name "FOO", :action "Search", :time "05042013-13:24:12.000"}]